In [1]:
import numpy as np
import pandas as pd
import glob
import os

from scipy.io import loadmat
from scipy import stats

import seaborn as sns
import matplotlib.pyplot as plt

## Slit Sc

In [2]:
direc = r"../dataFolder/AmplitudeAnalysis/v1/slit_sc/"

In [3]:
df = pd.read_csv(direc + 'median_summary_edited.csv')
df.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,flyID,body,med_amplitude,treatment,binned,bodypart
0,0,0,0,0,fly1,LW,62.307305,0.450367,"(0.3, 0.5]",clip
1,1,1,1,1,fly1,RW,96.487214,0.450367,"(0.3, 0.5]",intact
2,2,2,2,2,fly1,LW,131.790822,0.617825,"(0.6, 0.7]",clip
3,3,3,3,3,fly1,RW,114.640444,0.617825,"(0.6, 0.7]",intact
4,4,4,4,4,fly1,LW,37.345607,0.719372,"(0.7, 0.9]",clip

In [4]:
# do wilcoxon for each winglength
slit_sc_SumStats = pd.DataFrame(data = None,
                                index = df.binned.unique(),
                                columns = ['wilcoxon', 'kstest', 'n1', 'n2'])

for binned, df_binned in df.groupby('binned'):
#     print(binned)
    clip = df_binned.loc[df_binned.bodypart == 'clip', 'med_amplitude']
    n1 = len(clip)
    intact = df_binned.loc[df_binned.bodypart == 'intact', 'med_amplitude']
    n2 = len(clip)
    
    U, p = stats.wilcoxon(clip, intact, alternative='two-sided')
    u_ks, p_ks = stats.ks_2samp(clip, intact)
    slit_sc_SumStats.loc[binned, 'wilcoxon']= p
    slit_sc_SumStats.loc[binned, 'kstest'] = u_ks
    slit_sc_SumStats.loc[binned, ['n1','n2']] = n1, n2
slit_sc_SumStats

C:\Users\Tanvi\AppData\Local\Continuum\anaconda3\lib\site-packages\scipy\stats\morestats.py:2863: UserWarning: Sample size too small for normal approximation.
  warnings.warn("Sample size too small for normal approximation.")

             wilcoxon    kstest n1 n2
(0.3, 0.5]  0.0678892       0.5  4  4
(0.6, 0.7]  0.0678892      0.75  4  4
(0.7, 0.9]   0.463071  0.666667  6  6
(0.9, 1.0]  0.0796158       0.6  5  5
(0.5, 0.6]          1       0.5  4  4

## asymmetric wings

In [5]:
direc = r"../dataFolder/AmplitudeAnalysis/v1/asymmetric_wings/"

In [6]:
df = pd.read_csv(direc + 'median_summary_edited.csv')
df.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,flyID,body,med_amplitude,treatment,binned,bodypart
0,0,0,0,0,fly1,LW,54.413130,0.391743,"(0.3, 0.5]",clip
1,1,1,1,1,fly1,RW,141.388610,0.391743,"(0.3, 0.5]",intact
2,2,2,2,2,fly1,LW,62.161416,0.461742,"(0.3, 0.5]",clip
3,3,3,3,3,fly1,RW,137.794417,0.461742,"(0.3, 0.5]",intact
4,4,4,4,4,fly1,LW,76.792649,0.573657,"(0.5, 0.6]",clip

In [7]:
# do wilcoxon for each winglength
asym_wing_SumStats = pd.DataFrame(data = None,
                                index = df.binned.unique(),
                                columns = ['wilcoxon', 'kstest', 'n1', 'n2'])

for binned, df_binned in df.groupby('binned'):
    clip = df_binned.loc[df_binned.bodypart == 'clip', 'med_amplitude']
    n1 = len(clip)
    intact = df_binned.loc[df_binned.bodypart == 'intact', 'med_amplitude']
    n2 = len(intact)
    
    U, p = stats.wilcoxon(clip, intact, alternative='two-sided')
    u_ks, p_ks = stats.ks_2samp(clip, intact)
    asym_wing_SumStats.loc[binned, 'wilcoxon']= p
    asym_wing_SumStats.loc[binned, 'kstest']= p_ks
    asym_wing_SumStats.loc[binned, ['n1', 'n2']] = n1, n2
asym_wing_SumStats

             wilcoxon     kstest n1 n2
(0.3, 0.5]  0.0747355   0.025974  6  6
(0.5, 0.6]   0.236724  0.0530303  7  7
(0.6, 0.7]   0.273322   0.228571  4  4
(0.7, 0.9]   0.674424   0.282673  8  8
(0.9, 1.0]   0.600179   0.474026  6  6

## loaded haltere

In [8]:
direc = r"../dataFolder/AmplitudeAnalysis/v1/haltere_loading/"

In [9]:
df = pd.read_csv(direc + 'median_summary.csv')

In [10]:
df.head()

   Unnamed: 0 flyID body  med_amplitude      winglength
0           0  fly1   LH     149.877798  intacthalteres
1           1  fly1   LW     143.449808  intacthalteres
2           2  fly1   RH     144.618297  intacthalteres
3           3  fly1   RW     156.706477  intacthalteres
4           4  fly1   LH     144.068284  loadedhaltere1

In [11]:
# do wilcoxon for each winglength
loading_SumStats = pd.DataFrame(data = None,
                                index = df.winglength.unique(),
                                columns = ['wilcoxon', 'kstest', 'n1', 'n2'])

for binned, df_binned in df.groupby('winglength'):
#     print(binned)
    left = df_binned.loc[df_binned.body == 'LW', 'med_amplitude']
    n1 = len(left)
    right = df_binned.loc[df_binned.body == 'RW', 'med_amplitude']
    n2 = len(right)
    
    U, p = stats.wilcoxon(left, right, alternative='two-sided')
    u_ks, p_ks = stats.ks_2samp(left, right)
    loading_SumStats.loc[binned, 'wilcoxon']= p
    loading_SumStats.loc[binned, 'kstest'] = u_ks
    loading_SumStats.loc[binned, ['n1', 'n2']] = n1, n2
loading_SumStats

                 wilcoxon    kstest n1 n2
intacthalteres  0.0277078  0.833333  6  6
loadedhaltere1  0.0277078  0.833333  6  6
loadedhaltere2  0.0277078         1  6  6
loadedhaltere3  0.0463995  0.833333  6  6
removedload     0.0463995  0.833333  6  6

## EpiRidge Cut

In [12]:
direc= r"../dataFolder/AmplitudeAnalysis/v1/epi_ridge_cut/"

In [13]:
df = pd.read_csv(direc + 'median_summary.csv')
df.head()

   Unnamed: 0  Unnamed: 0.1 flyID body  med_amplitude  winglength      binned
0           0             0  fly1   LH     123.092827        0.38  (0.3, 0.4]
1           1             1  fly1   LW      67.457731        0.38  (0.3, 0.4]
2           2             2  fly1   RH     123.358511        0.38  (0.3, 0.4]
3           3             3  fly1   RW     107.727884        0.38  (0.3, 0.4]
4           4             4  fly1   LH     145.689576        0.50  (0.4, 0.5]

In [14]:
# do wilcoxon for each winglength
epi_SumStats = pd.DataFrame(data = None,
                                index = df.binned.unique(),
                                columns = ['wilcoxon', 'kstest', 'n1', 'n2'])

for binned, df_binned in df.groupby('binned'):
#     print(binned)
    left = df_binned.loc[df_binned.body == 'LW', 'med_amplitude']
    n1 = len(left)
    right = df_binned.loc[df_binned.body == 'RW', 'med_amplitude']
    n2 = len(right)
    U, p = stats.wilcoxon(left, right, alternative='two-sided')
    u_ks, p_ks = stats.ks_2samp(left, right)
    epi_SumStats.loc[binned, 'wilcoxon']= p
    epi_SumStats.loc[binned, 'kstest'] = u_ks
    epi_SumStats.loc[binned, ['n1', 'n2']] = n1, n2
epi_SumStats

              wilcoxon    kstest n1 n2
(0.3, 0.4]   0.0678892         1  4  4
(0.4, 0.5]   0.0277078         1  6  6
(0.5, 0.6]   0.0431144         1  5  5
(0.7, 0.9]  0.00768579  0.777778  9  9
(0.9, 1.0]   0.0179605  0.857143  7  7
(0.6, 0.7]   0.0277078  0.833333  6  6